# Ignore everything by default
*

# Allow portfolio asset directories
!projects/
!projects/**
!profile/
!profile/**
!resume/
!resume/**
!service_icon/
!service_icon/**
!socialProfile_icon/
!socialProfile_icon/**